<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>{{ title }} Stock</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet"/>
</head>
<body>
    <h1>{{ title }} Stock</h1>
    <p>Day of update: {{ update_day }}</p>
    <p>Should you invest? -- {{ invest }}</p>



    <form action="/stock">
        <input type="text" name="Stock name" id="Stock"
        placeholder="Enter a stock name"/>
        <button type="submit">submit</button>
    </form>
</body>
</html>